{% extends "main/base.html" %} {% block title %} View Match {% endblock %} {%
block head %}
<link
    rel="stylesheet"
    href="{{ url_for('main_bp.static', filename='competition.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
    <div>
        <h1>Competitions</h1>

        <div class="competition">
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
            <div class="competition__card">
                <a href="">
                    <img src="https://placehold.co/600x400/EEE/31343C" alt="" />
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{url_for('matches_bp.static', filename='js/global.js')}}"></script>
{%endblock%}
