.login {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login h1 {
    color: var(--henko-kurai-ao);
}

.login h2 {
    color: var(--henko-ao);
}

/* .login__head {
    margin-bottom: 5vh;
} */

.login__form form > div {
    margin: 1rem 0;
}

.login__field {
    display: flex;
    flex-direction: column;
}

.login__field label {
    color: var(--henko-kurai-ao);
    font-weight: 600;
    text-transform: uppercase;
}

.login__user,
.login__password {
    background-color: var(--henko-shiro);
    border: 1px solid var(--henko-kurai-ao);
    height: 1.5rem;
    padding: 1rem;
    transition: all var(--transition-speed) ease;
    color: var(--henko-ao);
}

@media screen and (max-width: 600px) {
    .login__head h1 {
        font-size: 3rem;
    }
    .login__user,
    .login__password {
        width: 100%;
    }
}

.login__button {
    padding: 0.75rem;
    justify-content: space-evenly;
}

.login__user:focus,
.login__password:focus {
    outline: double var(--henko-kurai-ao);
}

.brutalist__checkbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--henko-ao);
    border-radius: 0px;
    margin-right: 0.5rem;
}

.login__checkbox {
    display: flex;
    justify-content: end;
    align-items: center;
}

.brutalist__checkbox:checked {
    background-color: var(--henko-kurai-ao);
}

.brutalist__checkbox:focus {
    outline: single var(--henko-kurai-ao);
}
