@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light: #fff;
    --dark: #333;
    --primary: #c0c0c0;
    --secondary: #e6e6e6;
    --tertiary: #555;
    /* henko(変光) = henkō is a concept that refers to changes in perception, in our way of seeing things. */
    --henko-shiro: #f6f4eb;
    --henko-mizu-iro: #91c8e4;
    --henko-ao: #749bc2;
    --henko-kurai-ao: #4682a9;

    --danger: crimson;

    --transition-speed: 0.1s;

    --h1-scale: 2.986rem;
    --h2-scale: 2.488rem;
    --h3-scale: 2.074rem;
    --h4-scale: 1.728rem;
    --h5-scale: 1.44rem;
    --h6-scale: 1.2rem;
    --p-scale: 1rem;
    --small-scale: 0.833rem;
    --tiny-scale: 0.694rem;

    --bold-weight: 600;
}

body::-webkit-scrollbar-track {
    /* border: 1px solid black; */
    background-color: var(--henko-shiro);
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: var(--henko-ao);
}

body::-webkit-scrollbar-thumb {
    border: 1px solid black;
    background-color: var(--henko-kurai-ao);
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: var(--henko-shiro);
}

.container {
    /* background-color: var(--henko-shiro); */
    margin: 0 15vw;
    height: 100vh;
}

p {
    font-size: var(--p-scale);
}

h1 {
    font-size: var(--h1-scale);
}
h2 {
    font-size: var(--h2-scale);
}
h3 {
    font-size: var(--h3-scale);
}
h4 {
    font-size: var(--h4-scale);
}
h5 {
    font-size: var(--h5-scale);
}
h6 {
    font-size: var(--h6-scale);
}

@media screen and (max-width: 600px) {
    .container {
        margin: 0 5vw;
    }
}

.brutalist__button {
    display: flex;
    border-radius: 0;
    border: none;
    width: 8rem;
    transition: all var(--transition-speed) ease;
    font-size: var(--h6-scale);
    justify-content: center;
    align-items: center;
    color: var(--henko-shiro);
    background-color: var(--henko-kurai-ao);
}

.brutalist__button:hover {
    background-color: var(--henko-shiro);
    border: 1px solid var(--henko-kurai-ao);
    color: var(--henko-kurai-ao);
    box-shadow: 4px 4px 0px 0px var(--henko-kurai-ao);
}

.brutalist__button:focus {
    outline: thick single var(--henko-kurai-ao);
}

.brutalist__button.danger {
    background-color: var(--danger);
}
.brutalist__button.danger:hover {
    background-color: var(--henko-shiro);
    color: var(--danger);
    border: 1px solid var(--danger);
    box-shadow: 4px 4px 0px 0px var(--danger);
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

.brutalist__button.danger:focus {
    background-color: var(--danger);
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}
