{% extends "admin/base.html" %} {% block title %} View Match {% endblock %} {%
block head %}
<link
    rel="stylesheet"
    href="{{ url_for('matches_bp.static', filename='admin_global.css') }}"
/>
{% endblock %} {% block content %}
<div class="container">
    <div class="matches__head">
        <h1>Matches</h1>
        <a
            href="{{url_for('matches_bp.add_match')}}"
            class="brutalist__button btn--add_match"
        >
            <i class="ri-add-circle-line"></i> Add Match</a
        >
    </div>
    <div class="heading">
        <h2>Match of The Day</h2>
    </div>
    {% if ongoing_grouped_matches %}
    <div class="matches__container--ongoing">
        {% for competition, matches in ongoing_grouped_matches.items() %}
        <div class="competition__section">
            <h3>{{ competition }}</h3>
            {# Now competition is correctly rendered #}
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for match in matches %}
                    <div class="swiper-slide">
                        <a
                            href="{{ url_for('matches_bp.update_match', id=match['id']) }}"
                            class="match__card"
                        >
                            <div class="match__header">
                                <span class="stage">{{ match['stage'] }}</span>
                                <span class="stage {{ match['status']|lower }}"
                                    >{{ match['status'] }}</span
                                >
                            </div>
                            <div class="match__teams">
                                <div class="match__team">
                                    <span class="team__name">
                                        {{ match['team1'] }}
                                    </span>
                                    <span class="team__score"
                                        >{{ match['team1_score'] }}</span
                                    >
                                </div>
                                <div class="match__team">
                                    <span class="team__name">
                                        {{ match['team2'] }}
                                    </span>
                                    <span class="team__score"
                                        >{{ match['team2_score'] }}</span
                                    >
                                </div>
                            </div>
                            <div class="match__info">
                                <span class="match__date">
                                    {{ match['time'] }}
                                </span>
                                <span class="match__details">
                                    View details
                                </span>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="heading">
        <h2>All Matches</h2>
    </div>
    <form onsubmit="return false;" class="mb-3">
        <div class="search">
            <i class="ri-search-line"></i>
            <input
                type="text"
                id="searchInput"
                class="search__input"
                placeholder="Search..."
                onchange="filterItems()"
            />
        </div>
    </form>
    {% for matches, levels in grouped_matches.items() %}
    <div class="matches__container">
        {% for level, match_list in levels.items() %}
        <h2>{{ matches }} {{ level }}</h2>
        <div class="matches__grid">
            {% for match in match_list %}
            <a
                href="{{ url_for('matches_bp.update_match', id=match['id']) }}"
                class="match__card"
            >
                <div class="match__header">
                    <span class="stage">{{ match['stage'] }}</span>
                    <span class="stage {{ match['status']|lower }}"
                        >{{ match['status'] }}</span
                    >
                </div>
                <div class="match__teams">
                    <div class="match__team">
                        <span class="team__name"> {{match['team1']}} </span>
                        <span class="team__score"
                            >{{match['team1_score']}}</span
                        >
                    </div>
                    <div class="match__team">
                        <span class="team__name"> {{match['team2']}} </span>
                        <span class="team__score"
                            >{{match['team2_score']}}</span
                        >
                    </div>
                </div>
                <div class="match__info">
                    <span class="match__date"> {{ match['time'] }} </span>
                    <span class="match__details">View details</span>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %} {% block scripts %}
<script src="{{url_for('matches_bp.static', filename='js/global.js')}}"></script>
{%endblock%}
