{% extends "main/base.html" %} {%block title%} View Match {%endblock%} {%block
head%}
<link
    rel="stylesheet"
    href="{{url_for('matches_bp.static', filename='global.css')}}"
/>{%endblock%} {% block content %}
<div class="container">
    <h1>Matches</h1>
    {% for matches, levels in grouped_matches.items() %}
    <div class="matches__container">
        {% for level, match_list in levels.items() %}
        <h2>{{competition}} {{level}}</h2>
        <div class="matches__grid">
            {% for match in match_list %}
            <a
                href="url_for('match_bp.view_match', id=match['id'])"
                class="match__card"
            >
                <div class="match__header">
                    <span class="stage">{{ match['stage'] }}</span>
                    <span class="stage {{ match['status']|lower}}"
                        >{{ match['status']}}</span
                    >
                </div>
                <div class="match__teams">
                    <div class="match__team">
                        <span class="team__name"> {{match['team1']}} </span>
                        <span class="team__score">
                            {{match['team1_score']}}
                        </span>
                    </div>
                    <div class="match__team">
                        <span class="team__name"> {{match['team2']}} </span>
                        <span class="team__score">
                            {{match['team2_score']}}
                        </span>
                    </div>
                </div>
                <div class="match__info">
                    <span class="match__date"> {{ match['time'] }} </span>
                </div>
            </a>
            {%endfor%}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
