<!DOCTYPE html>
<!--
  -- Canisius College Cup 40
  -- @version 1.0
  -- @date 16.03.2025
  -- @url cccup.id/admin
-->
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %} - Admin Panel CCCUP XL</title>
        <link
            rel="stylesheet"
            href="{{url_for('admin_bp.static', filename='navbar.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('admin_bp.static', filename='global.css')}}"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
        />

        {% block head %} {% endblock %}
    </head>
    <body>
        <nav>
            <div class="nav__logo">
                <h3>Admin Panel CCCUP XL</h3>
                <div>
                    <button class="nav__burger">
                        <i class="ri-menu-3-line"></i>
                    </button>
                </div>
            </div>
            <div class="nav__container">
                <div class="nav__pages">
                    <div class="nav__item">
                        <a id="homeButton" href="{{url_for('admin_bp.home')}}"
                            >Home</a
                        >
                    </div>
                    <div class="nav__item">
                        <a id="homeButton" href="{{url_for('main_bp.home')}}"
                            >Competition</a
                        >
                    </div>
                    <div class="nav__item">
                        <a
                            id="homeButton"
                            href="{{url_for('matches_bp.admin_home')}}"
                            >Matches</a
                        >
                    </div>
                </div>
                <div class="nav__registerAccount">
                    <div class="nav__item">
                        <a id="loginButton" href="{{url_for('admin_bp.login')}}"
                            >Login</a
                        >
                    </div>
                </div>
            </div>
        </nav>
        <div class="nav__container--mobile">
            <div class="nav__pages--mobile">
                <div class="nav__item">
                    <a id="homeButton" href="{{url_for('main_bp.home')}}">
                        <button>Home</button>
                    </a>
                </div>
                <div class="nav__item">
                    <a id="homeButton" href="{{url_for('main_bp.home')}}"
                        ><button>Registration</button></a
                    >
                </div>
                <div class="nav__item">
                    <a
                        id="matchesButton"
                        href="{{url_for('matches_bp.admin_home')}}"
                        ><button>Matches</button></a
                    >
                </div>
                <div class="nav__item">
                    <a id="merchButton" href="{{url_for('main_bp.home')}}"
                        ><button>Merch</button></a
                    >
                </div>
            </div>
            <div class="nav__registerAccount--mobile">
                <div class="nav__item">
                    <a id="loginButton" href="{{url_for('admin_bp.login')}}"
                        ><button>Login</button></a
                    >
                </div>
            </div>
        </div>
        {% block content %}{% endblock %} {% block footer %} {% endblock %} {%
        block scripts %} {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <script src="{{url_for('admin_bp.static', filename='js/global.js')}}"></script>
        <script src="{{url_for('main_bp.static', filename='js/carousel.js')}}"></script>
    </body>
</html>
