{% extends "admin/base.html" %} {% block title %}Admin Login{% endblock %} {%
block head%}
<link
    rel="stylesheet"
    href="{{url_for('admin_bp.static', filename='login.css')}}"
/>
{%endblock%} {% block content %}
<div class="container center">
    <div class="login">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="flash-message {{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <div class="login__head">
            <h1>Signup ..</h1>
            <h4>Buat <strike>kacung</strike> admin baru!</h4>
        </div>


        <div class="login__form">
            <form action="/admin/signup" method="post">
                <div class="login__field">
                    <label for="role">Role</label>
                    <select
                        name="role"
                        id="role"
                        class="login__select"
                        required
                    >
                        <option value="admin" selected>Admin</option>
                        <option value="super_admin">Super Admin</option>
                    </select>
                </div>
                <div class="login__field">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        class="login__user"
                        required
                    />
                </div>
                <div class="login__field">
                    <label for="username">email</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        class="login__user"
                        required
                    />
                    <!-- Add email pattern later -->
                </div>
                <div class="login__field">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        name="password"
                        id="passwordField"
                        class="login__user"
                        required
                    />
                </div>
                <div class="login__field">
                    <label class="login__checkbox">
                        <input
                            type="checkbox"
                            onclick="togglePassword()"
                            class="brutalist__checkbox"
                        />
                        Show Password
                    </label>
                </div>
                <button type="submit" class="brutalist__button login__button">
                    Create <i class="ri-arrow-right-up-box-line"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
